<!-- Modal Section - Remove Coffee -->
<section class="modal fade" th:id="'RemoveCoffee' + ${coffee.coffeeID}" th:fragment="iconRemoveCoffee">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h1 class="modal-title fs-5 text-light" id="exampleModalLabel">Remove Coffee</h1>
                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/removeCoffee" method="POST">
                <div class="modal-body">
                    <p class="text-light">Are you sure you want to remove the coffee : </p>
                    <h1 class="text-white text-center" th:text="${coffee.coffeeBrand}"></h1>
                    <input type="text" name="coffeeID" id="coffee-modify-id" class="form-control"
                        th:value="${coffee.coffeeID}" style="display: none;">
                </div>
                <div class="modal-footer border-0">
                    <button type="submit" name="coffeeID" class="btn w-50 modalBtnYes">Remove
                        Coffee</button>
                    <button type="button" class="btn w-25 modalBtnCancel" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</section>