@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
/* CSS HEX */
--black: #121212;
--white: #ffffffff;
--purple: #4a3d7b;
--black-modal: #121212;
--black-bg: #202020;

/* CSS FILTERS */
--white-filter: brightness(0) saturate(100%) invert(93%) sepia(12%) saturate(138%) hue-rotate(178deg) brightness(93%) contrast(90%);
--purple-filter: brightness(0) saturate(100%) invert(23%) sepia(7%) saturate(5759%) hue-rotate(213deg) brightness(97%) contrast(86%);
}

body {
    font-family: 'Poppins', sans-serif;
}

.main-container  {
    background-color: var(--black-bg);
    flex-wrap: nowrap;
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

/* Header Section */
.navHeader {
    height: 55px;
    background: var(--black-modal);
    border-radius: 5px;
    box-shadow: rgb(0, 0, 0, .2) 0px 1px 2px 0px, rgb(0, 0, 0, .2) 0px 2px 6px 2px;
}

.imgSize {
    width: 10;
    height: 10;
}
/* End of Header Section */

/* Sidebar Section */
.sidebarNav {
    height: 90vh;
    background: var(--black-modal);
    border-radius: 5px;
    box-shadow: rgb(0, 0, 0, .2) 0px 1px 2px 0px, rgb(0, 0, 0, .2) 0px 2px 6px 2px;
}

.navTabs {
    cursor: pointer;
    transition: .3s ;
}

.navTabs:hover {
    background: var(--white);
    border: 5px;
    .sidebarActive {
        filter: var(--white);
    }
}

.navLink {
    color: var(--white);
    font-weight: 400;
    transition: .4s ;
}

.navTabs:hover .navLink {
    color: var(--purple);
}

.iconColor {
    filter: var(--white-filter);
    transition: .4s ;
}

.navTabs:hover .iconColor {
    filter: var(--purple-filter);
}

.navActive {
    background: var(--white);
    color: var(--purple);
    font-weight: bold;
}

.navLinkActive {
    color: var(--purple);
    font-weight: bold;
}

.iconActive {
    filter: var(--purple-filter);
    font-weight: bold;
}

/* End of Sidebar Section */

/* Main Content Section */
.main-content {
    background: var(--black-modal);
    border-radius: 5px;
    box-shadow: rgb(0, 0, 0, .2) 0px 1px 2px 0px, rgb(0, 0, 0, .2) 0px 2px 6px 2px;
}

.mainHeader {
    color: var(--purple);
}
.mainHeader:hover { 
    color: var(--purple);
}

/* End of Content Section */

/* Modal - Section */
.modal-content {
    background: var(--black-modal);
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 2px 0px, rgba(255, 255, 255, 0.1) 0px 2px 6px 2px;
    transition: .4s ;
}

.inputBg {
    background: var(--black-modal);
    transition: .4s ;
}

.modalBtnYes {
    background: var(--white);
    color: var(--purple);
}

.modalBtnYes:hover {
    background: var(--purple);
    color: var(--white);
    transition: .4s;
}
.modalBtnCancel {
    background: #53535300;
    color: white;
}

.modalBtnCancel {
    border: 1px solid var(--white);
    color: white;
    transition: .4s;
}

.modalBtnCancel:hover {
    background: #3a3a3a;
    color: white;
}
/* Modal - End of Section */

.cardScrow::-webkit-scrollbar {
    display: none;
}

.cardScrow {
    height: 785px;
    overflow-y: scroll;
}

.card {
    background: var(--black-modal);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px, rgba(0, 0, 0, 0.1) 0px 2px 6px 2px;
}

.card-title {
    color: var(--white);
}

.card-text {
    color: var(--white);
}

.card-img-top {
    width: 100%;
    height: 190px;
    object-fit: cover;
    background-color: hsla(253, 34%, 36%, 0.3);
}

.img-letter {
    font-size: 140px;
}