<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragment/config/config :: config}"></head>
<body>
    <div class="main-container">

        <!-- Container -->
        <section class="container mt-3" style="height: 100vh;">
            <!-- Header Section -->
            <header th:replace="~{fragment/layout/header :: header}"></header>
            
            <section class="row mt-3">
                <!-- Sidebar Section -->
                <div th:replace="~{fragment/layout/sidebar :: sidebar}"></div>

                <!-- Main Content Section -->
                <main th:replace="~{fragment/layout/main :: main}"></main>
            </section>

            <!-- Modal Section - Add Coffee-->
            <section th:replace="~{fragment/modal/modalAddCoffee :: modalAddCoffee}"></section>

            <!-- Modal Section - Modify -->
            <section th:replace="~{fragment/modal/modalModifyCoffee :: modalModifyCoffee}"></section>

            <!-- Modal Section - Search -->
            <section th:replace="~{fragment/modal/modalSearchCoffee :: modalSearchCoffee}"></section>

            <!-- Modal Section - Remove -->
            <section th:replace="~{fragment/modal/modalRemoveCoffee :: modalRemoveCoffee}"></section>
        </section>
    </div>
</body>
</html>