<!-- Modal Section - Add Coffee - Fragment -->

<section th:fragment="modalAddCoffee" class="modal fade" id="AddCoffee">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h1 class="text-center fs-5 text-light" id="exampleModalLabel">Add New Coffee Unit</h1>
                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/addCoffee" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span for="coffee-add-brand" class="input-group-text w-25 text-white inputBg" id="coffee-add-brand">Brand</span>
                        <input type="text" name="coffeeBrand" id="coffee-add-brand" class="form-control border" required>
                    </div>
                    <div class="input-group mb-3">
                        <span for="coffee-add-type" class="input-group-text w-25 text-white inputBg" id="coffee-add-type">Type</span>
                        <input type="text" name="coffeeType" id="coffee-add-type" class="form-control" required>
                    </div>
                    <div class="input-group mb-3">
                        <span for="coffee-add-price" class="input-group-text w-25 text-white inputBg" id="coffee-add-price">Price</span>
                        <input type="text" name="coffeePrice" id="coffee-add-price" class="form-control" required>
                    </div>
                    <div class="input-group mb-3">
                        <span for="coffee-add-quantity" class="input-group-text w-25 text-white inputBg"
                            id="coffee-add-quantity">Quantity</span>
                        <input type="number" name="coffeeQuantity" id="coffee-add-quantity" class="form-control" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="file" id="file" name="file" class="form-control">
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="submit" class="btn w-50 modalBtnYes">Add Coffee</button>
                    <button type="button" class="btn w-25 modalBtnCancel" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</section>