<!-- Main Content - Fragment -->
<main th:fragment="main" class="col-xl-9" style="height: 100vh;">
    <div class="main-content py-1 d-flex justify-content-between align-content-center align-items-center">
        <h1 class="fs-3 ps-1 mt-2 text-uppercase mainHeader">Current in Stock</h1>

        <div class="me-2">
            <div class="btn-group dropdown">
                <button class=" rounded-0 btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false" style="width: 100px;">
                    Sort By
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li th:each="direction : ${sortDirection}">
                        <a class="dropdown-item"
                            th:href="@{/api/coffee(filter=${param.filter}, direction=${direction.value})}"
                            th:text="${direction.key}"></a>
                    </li>
                </ul>

                <button class=" rounded-0 btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false" style="width: 100px;">
                    Filter By
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li th:each="option : ${sortOptions}">
                        <a class="dropdown-item"
                            th:href="@{/api/coffee(filter=${option.value}, direction=${param.direction})}"
                            th:text="${option.key}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="mt-2 cardScrow" style="height: 83.5vh;">
        <div class="row g-2">
            <div th:each="coffee : ${coffees}" class="col-lg-3 col-12">
                <div class="card">
                    <img th:src="@{${'/display?imageID=' + coffee.image.imageID}}" class="card-img-top" th:alt="${coffee.image.imageNameBrand}">
                    <div class="card-body">
                        <div class="float-end" style="margin-top: -2rem;">
                            <a class="btn btn-sm bg-opacity-75 bg-light" data-bs-toggle="modal"
                                th:attr="data-bs-target='#ModifyCoffee' + ${coffee.coffeeID}"
                                data-bs-whatever="@ModifyCoffee">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                            <a class="btn btn-sm bg-opacity-75 bg-light" data-bs-toggle="modal"
                                th:attr="data-bs-target='#RemoveCoffee' + ${coffee.coffeeID}"
                                data-bs-whatever="@RemoveCoffee">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </div>
                        <div class="row mt-1">
                            <div class="col-10">
                                <h5 class="card-title fw-lighter mt-2" th:text="${coffee.coffeeBrand}"></h5>
                            </div>
                            <div class="col-2 align-content-center">
                                <p class="card-text float-end" th:text="${coffee.coffeeID}"></p>
                            </div>
                        </div>
                        <h6 class="card-subtitle text-muted" th:text="${coffee.coffeeType}"></h6>
                        <div class="row mt-3">
                            <div class="col-6 d-flex justify-content-center mt-2">
                                <i class="fa-solid fa-mug-hot"></i>
                                <span class="ms-1">
                                    <p class="text-light" th:text="${coffee.coffeeQuantity}"></p>
                                </span>
                            </div>
                            <div class="col-6 d-flex justify-content-center mt-2">
                                <i class="fa-solid fa-dollar-sign pt-1 iconTt"></i>
                                <span class="ms-1">
                                    <p class="text-light " th:text="${coffee.coffeePrice}"></p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Icon Modal Section - Remove Coffee-->
                <section th:replace="~{fragment/modal/iconModal/iconRemoveCoffee :: iconRemoveCoffee}"></section>

                <!-- Icon Modal Section - Modify Coffee-->
                <section th:replace="~{fragment/modal/iconModal/iconModifyCoffee :: iconModifyCoffee}"></section>
            </div>
        </div>
    </div>
</main>