<!-- Sidebar Section - Fragment -->
<div th:fragment="sidebar" class="col-xl-3">
    <aside class="sidebarNav">
        <div class="align-content-center">
            <ul class="nav flex-column m-2 lead">
                <li class="navTabs rounded-3 m-2 ps-3 p-2 navActive">
                    <a href="/api/coffee" class="navLink text-decoration-none navLinkActive">
                        <img th:src="@{/images/svg-images/dash-img.svg}" alt="-image" class="pb-1 iconColor iconActive">
                        <span class="ps-2">
                            Dashboard
                        </span>
                    </a>
                </li>
                <li class="navTabs rounded-3 m-2 ps-3 p-2" data-bs-toggle="modal"
                    data-bs-target="#AddCoffee" data-bs-whatever="@AddCoffee">
                    <a href="#" class="navLink text-decoration-none">
                        <img th:src="@{/images/svg-images/add-img.svg}" alt="-image" class="pb-1 iconColor"> 
                        <span class="ps-2">
                            Add Unit
                        </span>
                    </a>
                </li>
                <li class="navTabs rounded-3 m-2 ps-3 p-2" data-bs-toggle="modal"
                data-bs-target="#ModifyCoffee" data-bs-whatever="@ModifyCoffee">
                    <a href="#" class="navLink text-decoration-none">
                        <img th:src="@{/images/svg-images/modify-img.svg}" alt="-image" class="pb-1 iconColor"> 
                        <span class="ps-2">
                            Modify
                        </span>
                    </a>
                </li>
                <li class="navTabs rounded-3 m-2 ps-3 p-2" data-bs-toggle="modal"
                data-bs-target="#SearchCoffee" data-bs-whatever="@SearchCoffee">
                    <a href="#" class="navLink text-decoration-none">
                        <img th:src="@{/images/svg-images/search-img.svg}" alt="-image" class="pb-1 iconColor"> 
                        <span class="ps-2">
                            Search
                        </span>
                    </a>
                </li>
                <li class="navTabs rounded-3 m-2 ps-3 p-2" data-bs-toggle="modal"
                data-bs-target="#RemoveCoffee" data-bs-whatever="@RemoveCoffee">
                    <a href="#" class="navLink text-decoration-none">
                        <img th:src="@{/images/svg-images/remove-img.svg}" alt="-image" class="pb-1 iconColor"> 
                        <span class="ps-2">
                            Remove
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
</div>